/*
div{
    width: 100px;
    height: 100px;
}
 #first{
    background-color: burlywood;
    float: left;
 }
 #second{
    clear: left;
    background-color: crimson;
    float: left;

 }
 #third{
    float: right;
    background-color: chartreuse;
 }
 */

 .container {

    border: 2px solid red;
 }
 .container > div{
    border: 2px solid green;
    display: inline;

 }
 .container> span {
    border: 2px solid orange;
    display: block;
 }